
.project-buttons{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:14px;
    margin-top:auto;
    width:100%;
}

.project-buttons > *{
    width:100%;
}

.project-buttons .full-width{
    flex:1 1 100%;
}

.empty-button-space{
    visibility:hidden;
}

.btn-primary,
.btn-secondary{
    width:100%;
    box-sizing:border-box;
}

.btn-primary{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;
    padding:14px;
    border:none;
    border-radius:14px;
    background:#2563eb;
    color:white;
    cursor:pointer;
    font-weight:600;
    transition:.25s;
}

.btn-primary:hover{
    background:#1d4ed8;
    transform:translateY(-2px);
}

.btn-secondary{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;
    padding:14px;
    border-radius:14px;
    border:2px solid #2563eb;
    text-decoration:none;
    color:#2563eb;
    font-weight:600;
    transition:.25s;
}

.btn-secondary:hover{
    background:#2563eb;
    color:white;
}

.projects-more{
    display:flex;
    justify-content:center;
    margin-top:60px;
}

.projects-more button{
    padding:15px 34px;
    border:none;
    border-radius:50px;
    background:#2563eb;
    color:white;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
    transition:.3s;
}

.projects-more button:hover{
    background:#1d4ed8;
    transform:translateY(-3px);
} 