
.projects-page{
    padding:110px 0;
    background:#f8fbff;
    min-height:270px;
    height:auto;
}

.projects-page .container{
    width:min(1300px,92%);
    margin:auto;
}

.projects-header{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    gap:12px;
}

.projects-header h2{
    font-size:2.7rem;
    color:#0f172a;
    margin-bottom:18px;
}

.projects-header p{
    max-width:760px;
    margin:auto;
    color:#64748b;
    line-height:1.8;
    font-size:1.05rem;
}