@import "../core/topbar.css";
@import "../core/footer.css";

@import "timeline.css";
@import "personal.css";
@import "goals.css";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f7f8fc;
    color:#2d2d2d;
    line-height:1.6;
}
